body{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.header{
    height: 100px;
    background-color: black;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);;
}
    

.head-title{
    text-align: center;
    color: #fff;
    padding-top: 20px;

   
}

.search{
    margin-top: 40px;
}

.search-line{
    width: 500px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
}

.search-btn{
    border-radius: 10px;
    background-color: red;
    font-weight: 500;
    border: 1px solid red;
    width: 100px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: grey;
    gap: 10px;
    justify-content: center;
}
